<%- include('parts/header.ejs')%>


    <div class="row mt-4">
        <div class="col"></div>
        <div class="col">
            <div class="card text-bg-info text-center">
                <div class="card-header">نأسف</div>
                <div class="card-body">
                    <img src="https://img.icons8.com/external-nawicon-outline-color-nawicon/512/external-warning-construction-nawicon-outline-color-nawicon.png"
                        style="width: 109px;">

                    <h5 class="card-title">الصفحه غير موجوده</h5>
                    <p class="card-text">ربما العنوان خاطئ أعد كتابة العنوان مره اخرى</p>
                    <a href="/" class="btn btn-success ">عد إلى الصفحه الرئيسيه</a>
                </div>
                <div class="card-footer link-danger bg-text-muted">

                </div>
            </div>
        </div>
        <div class="col">
            <%- include('parts/list.ejs')%>
        </div>
    </div>

    <%- include('parts/footer.ejs')%>