<%- include('parts/header.ejs')%>
    <%- include('parts/nav.ejs')%>

        <div class=" row my-0 mt-2">
            <div class="col"><a class="btn btn-info w-100" href="/moshaf">تصفح مُصحفناالإلكتروني <img
                        src="https://img.icons8.com/external-others-bzzricon-studio/512/external-quran-ramadan-others-bzzricon-studio-2.png"
                        style="
                width: 40px;
            "><br>
                    <h6>المصحف به اصوات للقراء</h6>
                </a></div>
            <div class="col">

            </div>
            <div class="col">
                <%- include('parts/list.ejs')%>
            </div>
        </div>
        <%- include('parts/footer.ejs')%>