<nav class="navbar navbar-dark navbar-expand-lg bg-dark" style="direction: rtl;background-color: black !important;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img
                src="https://img.icons8.com/external-others-bzzricon-studio/344/external-mosque-ramadan-others-bzzricon-studio-2.png"
                style="
    width: 45px;
"> مسلم</a>
        <a class="nav-link  ar-font" aria-current="page" href="/complaints"
            style="color: aliceblue;margin-right: 27px;">إبلاغ عن مشكله </a>
        <button onclick="history.go(-1)" class="btn btn-info" style="
        width: 65px;
        position: absolute;
        left: 0;
    "><img src="https://img.icons8.com/nolan/512/reply-arrow--v2.png" style="
    width: 100%;
"></button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="
    margin-right: 0 !important;
">


            </ul>

        </div>
    </div>
</nav>