* {
    font-family: system-ui !important;

}

.ar-font {
    font-family: andalus;
    font-size: 23px;
}

.quran {
    color: blue;
}

.hadith {
    color: rgb(0 255 217)
}

.allh {
    display: inline-block;
    color: red;
}

.num {
    display: inline-block;
    color: #575757;
    text-shadow: 0px 2px 10px #0033ff;
    -webkit-text-stroke-width: thick;
}

.row {
    margin: 0;
}

.card.text-center.text-bg-dark.mb-3 .card-body {
    overflow: auto;
}

#topcontrol:before {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
}

#topcontrol:before {
    content: "^";
}

#topcontrol:hover {
    background: #227697;
    box-shadow: 0px 0px 12px 0px;
}

#topcontrol {


    box-shadow: 0px 0px 5px 0px;
    z-index: 999;
    background: #37b8eb;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    position: fixed;
    bottom: -100px;
    right: 10px;
    cursor: pointer;
    overflow: auto;
    opacity: .7;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}